

<div class="slider">

       
<ul>
     <h3 ><label class="fa-solid fa-layer-group"></label>   Contents</h3>
    <li><span for="home" class="fas fa-home"></span> <a href="#home"> Home </a></li>
  
        <li><label  class="fas fa-table"></label> <a href="#categories">Catigories </a> </li>
    <li> <label  class="fa-solid fa-person"></label>  <a href="#authors">Authors </a></li>
    <li> <label  class="fa-regular fa-bell"></label><a href="notifigation.html"> Notifigations</a></li>
        
    <li><label  class="fa-solid fa-phone"></label> <a href="#contact"></a>Contact Us</li> 
        <li><label  class="fas fa-user"></label> <a href="profile.html"></a> My Profile</li> 



</ul>





    
</div>
